html, body {
  height:100%;
}
body {
  font-family: "Microsoft Yahei","Hiragino Sans GB",sans-serif;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
.navbar-default {
  border: none;
  background: white;
}
.center {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 100%;
}
.center > * {
  display: block;
  margin:0 auto;
  text-align: center;
}
.half-wrapper {
  width: 100% !important;
  padding-top: 50% !important; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}
.wrapper {
  width: 100% !important;
  padding-top: 100% !important; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}
.half-wrapper > *, .wrapper > * {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.navbar-logo {
  width: 40px;
  height: 40px;
  padding: 5px;
  display: block;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;

  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.logo {
  background-image: url('../images/logo.png')
}
.navbar {
  margin-bottom: 0;
}
.no-gutters {
  margin: 0 !important;
}
.no-gutters > [class*="col-"]{
  padding: 0;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #cc3b3b;
}
.navbar {
  margin-bottom: 0;
  padding: 10px;
}
.navbar-brand {
  padding: 5px;
}
.center {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 100%;
}
.center > * {
  display: block;
  margin:0 auto;
  text-align: center;
}
.logo {
  background-image: url('../images/logo.png')
}
.album-container {
  position: relative;
  width: 100%;
  background: white;
}
#top {
  height:25%;
  background-image: url("../images/tinyuen/1.jpg");
  background-size: 100%;
}
.head-content {
  height: 100%;
  position :relative;
  background: rgba(0,0,0,.5);
}
.title-container {
  color: white;
  text-shadow: 0px 2px 0px rgba(150, 150, 150, 0.72);
}
.breadcrums {
  font-size: 20px;
}
.breadcrums > a {
  display: inline-block;
  padding: 10px;
}
.photo-container {
  position: absolute;
}
.photo-container a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 5px;
}
img {
  width: 100%;
  display: block;
}
